.table-responsive {
    background: white;
}

:host /deep/ tr.solved {
    background: rgba(245, 237, 125, 0.5);
}

:host /deep/ tr.aborted {
    background: rgba(245, 144, 105, 0.5);
}

.icon-color {
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    margin: 5px;
}