<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" *ngIf="currentUser">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">TEST</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-link-active">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      Dashboard</a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->

  <!-- employees menu -->
  <li class="nav-item" *ngIf="isAdmin">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-users"></i>
      <span>Employees</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">List Employees:</h6>
        <a class="collapse-item" routerLink="/employees" routerLinkActive="router-link-active">All employees
          list</a>
      </div>
    </div>
  </li>

  <!-- vehicles menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
      aria-controls="collapseThree">
      <i class="fas fa-car"></i>
      <span>Vehicles</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Vehicles list:</h6>
        <a *ngIf="isAdmin" class="collapse-item" routerLink="/vehicles" routerLinkActive="router-link-active">All
          vehicles list</a>
        <a class="collapse-item" routerLink="/vehicles/available" routerLinkActive="router-link-active">Available
          vehicles</a>
        <a *ngIf="isAdmin" class="collapse-item" routerLink="/vehicles/unavailable"
          routerLinkActive="router-link-active">Unavailable
          vehicles</a>
      </div>
    </div>
  </li>


  <!-- Nav Item - TravelOrder Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTravelOrder" aria-expanded="true"
      aria-controls="collapseTravelOrder">
      <i class="far fa-edit"></i>
      <span>Travel Order</span>
    </a>
    <div id="collapseTravelOrder" class="collapse" aria-labelledby="headingTravelOrder" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom TravelOrder:</h6>
        <a class="collapse-item" class="collapse-item" routerLink="/travel-order"
          routerLinkActive="router-link-active">All Travel Order</a>

        <a class="collapse-item" class="collapse-item" routerLink="/travel-order/created-travel-order"
          routerLinkActive="router-link-active">Created Travel Order</a>

        <a class="collapse-item" class="collapse-item" routerLink="/travel-order/approved-travel-order"
          routerLinkActive="router-link-active">Approved Travel Order</a>

        <a class="collapse-item" class="collapse-item" routerLink="/travel-order/refused-travel-order"
          routerLinkActive="router-link-active">Refused Travel Order</a>

        <a class="collapse-item" class="collapse-item" routerLink="/travel-order/finished-travel-order"
          routerLinkActive="router-link-active">Finished Travel Order</a>

      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>