<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Vehicle Details</h1>
  </div>
  <div class="row mb-4">
    <div class="col-xl-12">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Model</div>
              <div class="h3 mb-0 font-weight-bold text-gray-800">{{selectedItem.brand}} {{selectedItem.model}}
              </div>
            </div>
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Vehicle Number</div>
              <div class="h3 mb-0 font-weight-bold text-gray-800">{{selectedItem.vehicleNum}}</div>
            </div>
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cubage</div>
              <div class="h3 mb-0 font-weight-bold text-gray-800">{{selectedItem.cubage}} cm <sup>3</sup></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-car fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- table -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Service information</h1>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-white"
      (click)="openServiceModal(billServiceTemplate)"><i class="fas fa-plus fa-sm text-white-50"></i>
      Add service book</a>

  </div>
  <div class="row justify-content-md-center mb-4">
    <div class="col-md-12">
      <app-alerts></app-alerts>
    </div>
    <div class="col-md-12">
      <div class="table table-bordered table-responsive table-hover">
        <ng2-smart-table [settings]="settings" [source]="serviceBookList">
        </ng2-smart-table>
      </div>
    </div>
    <div class="col-md-12">
      <a class="d-none d-sm-inline-block btn btn-sm  bg-secondary shadow-sm text-white" (click)="navigateToVehicle()"><i
          class="fas fa-arrow-left fa-sm text-white-50"></i>
        Previous page</a>
    </div>
  </div>
</div>


<ng-template #billServiceTemplate>
  <app-vehicle-service-popup [selectedItem]="selectedItem" (refreshTableEvent)="refreshTableEvent($event)">
  </app-vehicle-service-popup>
</ng-template>