<h1 class="h3 mb-4 text-gray-800">Dashboard Page</h1>

<div class="row">
    <div class="col-xl-8 col-lg-">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Travel Order statuses</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="container">
                        <canvas id="travelStatusBarChart"></canvas>
                    </div>
                </div>
                <hr>
                Travel orders per month
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                </div>
                <hr>
                Styling
            </div>
        </div>

    </div>

    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Travel Order statuses</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="container">
                    <canvas id="travelStatusPieChart"></canvas>
                </div>

                <hr>
                Travel orders created this month
            </div>
        </div>
    </div>
</div>